.sideber
  .sideber__point
    .sideber__point__box
      .sideber__point__box__name
        masa
      .sideber__point__box__menu
        =link_to "#", class: "sideber__point__box__menu__btn--edit" do
          = icon('fa', 'edit',  class:"menu__btn--icon1")
        =link_to "#", class: "sideber__point__box__menu__btn--cog" do
          = icon('fa', 'fas fa-cog',  class: "menu__btn--icon2")
  .sideber__main 
    .sideber__main__group
      %p.sideber__main__group__text
        TECHCAMP
      %p.sideber__main__group__text2
        まだメッセージがありません