.sideber
  .sideber__point
    .sideber__point__box
      .sideber__point__box__name
        = current_user.name
      .sideber__point__box__menu
        =link_to "#", class: "sideber__point__box__menu__btn--edit" do
          = icon('fa', 'edit',  class:"menu__btn--icon1")
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog',  class: "icon")
  .sideber__main 
    .sideber__main__group
      %p.sideber__main__group__text
        TECHCAMP
      %p.sideber__main__group__text2
        まだメッセージがありません